.vs
.svn
*.db
*.opendb
*.user
*.sdf
*.suo
*.log

script/apps/Aries/Pipeline/*.*
script/apps/Aries/Debug/*.*
script/apps/DBServer/*.*
script/apps/GameServer/LobbyService/*.*
script/apps/HelloChat/*.*
script/apps/HelloWorld/*.*
script/apps/IMServer/*.*
script/apps/NPLRouter/*.*
script/apps/Orion/*.*
script/apps/orion/*.*
script/apps/PayServer/*.*
script/apps/Poke/*.*
script/apps/sample/*.*
script/apps/Taurus/*.*
script/apps/Aquarius/*.*
bin/script/apps/Aries/Pipeline/*.*
bin/script/apps/Aries/Debug/*.*
bin/script/apps/DBServer/*.*
bin/script/apps/GameServer/test/*.*
bin/script/apps/HelloChat/*.*
bin/script/apps/HelloWorld/*.*
bin/script/apps/IMServer/test/*.*
bin/script/apps/Orion/*.*
bin/script/apps/orion/*.*
bin/script/apps/PayServer/test/*.*
bin/script/apps/Poke/*.*
bin/script/apps/sample/*.*
bin/script/apps/Taurus/*.*
bin/script/apps/Aquarius/*.*
bin/script/shell_loop*.*
script/VisualStudioNPL/*.*
script/templates/*.*
bin/script/sqlite/examples/*.*
bin/script/sqlite/test*.*
bin/script/tutorials/*.*
bin/script/lang/*.*
bin/script/3Ddev/*.*
bin/script/client/*.*
bin/script/demo/*.*
bin/script/demo4zju/*.*
bin/script/EBook/*.*
bin/script/movie/*.*
bin/script/network/*.*
bin/script/server/*.*
bin/script/twiki/*.*
script/test/*.*
bin/script/test/*.*
bin/script/test*.*
bin/script/Test*.*
bin/script/kids/3DMapSystemNetwork/*.*
bin/script/kids/BCS/*.*
bin/script/kids/CCS/*.*
bin/script/kids/EnvironmentSet/*.*
bin/script/kids/RightClick/*.*
bin/script/kids/ui/*.*
bin/script/kids/Ui/*.*
bin/script/kids/3DMapSystem_main.o
bin/script/kids/BasicSetting.o
bin/script/kids/BasicSetting.o
bin/script/kids/db_assets.o
bin/script/kids/db_assets_demo.o
bin/script/kids/db_quickhelp.o
bin/script/kids/db_tipsofday.o
bin/script/kids/kids_db.o
bin/script/kids/kids_init.o
bin/script/kids/km_sandbox_file.o
bin/script/kids/loadworld.o
bin/script/kids/main.o
bin/script/kids/mode.o
bin/script/kids/newworld.o
bin/script/kids/saveworld.o
bin/script/kids/UI_startup.o
bin/script/kids/WorldManager.o
bin/script/kids/3DMapSystemData/DBAssets_backup_old_assetfile.o
bin/script/kids/3DMapSystemData/MainBarData.o
bin/script/kids/3DMapSystemData/MainPanelData.o
script/kids/3DMapSystemApp/mcml/test/*.*
bin/script/AI/templates/TutorialText/*.o
bin/script/ide/ObjectOriented/*.o
bin/script/kids/3DMapSystemApp/API/homeland/test/*.*
bin/script/kids/3DMapSystemApp/API/test/*.*
bin/script/kids/3DMapSystemItem/obsoleted/*.*
bin/script/kids/3DMapSystemUI/SnakeGame/*.*
bin/script/kids/3DMapSystemUI/_obsoleted/*.*
config/bootstrapper_*.xml
config/pipeline_*.xml
config/materials_*.xml
script/PETools/*.xml
script/tutorials/*.*
script/apps/Aries/Quest/Test/*.*
config/Aries/Quests/quest_default_block.xml
config/Aries/Quests_Teen/quest_default_block.xml
script/kids/3DMapSystemUI/ParaworldIntro/*.*
bin/script/kids/3DMapSystemUI/ParaworldIntro/*.*
config/*Server.config.xml
config/Aries/creator/blocktemplates/*.xml

config/*Server.teen.config.xml
config/AriesDevLocal.*
config/Aries/BagDefine_Teen/*.*
config/Aries/Cards/Teen/*.xml
config/Aries/EventTrigger_Teen/*.xml
config/Aries/HaqiGuide/*.*
config/Aries/LobbyService_Teen/*.*
config/Aries/Mob_Teen/*.*
config/Aries/NPCDialog_Teen/*.*
config/Aries/NPCFiles_Teen/*.*
config/Aries/NPCShop_Teen/*.*
config/Aries/PickItem_Teen/*.*
config/Aries/Quests_Teen/*.*
config/Aries/WorldData_Teen/*.*
config/*.teen.html
config/*.teen.xml
config/*.teen.config.xml
script/*.teen.*
config/*_teen.xml
config/*_Teen.xml
bin/script/*.teen.*
Texture.rar