<!-- "script/apps/Aries/CombatPet/CombatPetPage.html" -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body>
<pe:mcml>
<script type="text/npl" Refresh="false"><![CDATA[
NPL.load("(gl)script/apps/Aries/Quest/QuestClientLogics.lua");
local QuestClientLogics = commonlib.gettable("MyCompany.Aries.Quest.QuestClientLogics");
local ItemManager = System.Item.ItemManager;
local hasGSItem = ItemManager.IfOwnGSItem;
local equipGSItem = ItemManager.IfEquipGSItem;
local Combat = commonlib.gettable("MyCompany.Aries.Combat");
NPL.load("(gl)script/apps/Aries/CombatPet/CombatPetPage.lua");
local CombatPetPage = commonlib.gettable("MyCompany.Aries.CombatPet.CombatPetPage");
CombatPetPage.Init()
local page = document:GetPageCtrl();
NPL.load("(gl)script/apps/Aries/CombatPet/CombatPetHelper.lua");
local CombatPetHelper = commonlib.gettable("MyCompany.Aries.CombatPet.CombatPetHelper");
function ClosePage()
    local MsgHandler = commonlib.gettable("MyCompany.Aries.Combat.MsgHandler");
    if(CombatPetPage.is_combat_state) then
        MsgHandler.OnClickClosePetPicker();
    end
    page:CloseWindow();
end
function DS_Func_Pets(index)
    return CombatPetPage.DS_Func_Pets(index);
end
function GetDataSource()
    return CombatPetPage.GetDataSource();
end
function GetPetCnt()
    local data;
    if(CombatPetPage.state == 1)then
        data =  CombatPetPage.pets_datasource;
    else
        data =  CombatPetPage.common_pets_datasource;
    end
    if(data)then
        local cnt = #data;
        local s = string.format("宠物总数:%d",cnt);
        return s;
    end
end
function CanEdit()
    local data = CombatPetPage.pets_datasource;
    local cnt = 0;
    if(data)then
        cnt = #data;
    end
    if(CombatPetPage.nid == Map3DSystem.User.nid and CombatPetPage.state == 1 and cnt > 0)then
        return true;
    end
end
function IsEdit()
    if(CombatPetPage.is_edit == 1)then
        return true;
    end
end
function GetPetName()
    local data = GetDataSource();
    if(data and CombatPetPage.selected_pet_index)then
        local pet = data[CombatPetPage.selected_pet_index];
        if(pet)then
            local name = pet.name;
            return name;
        end
    end
end
function ViewHelp()
    NPL.load("(gl)script/apps/Aries/Help/Common_help.lua");
    MyCompany.Aries.Help.Common_help.CombatPetHelp_ShowPage()

end
function ChangeName()
    CombatPetPage.is_edit = 1;
    page:Refresh(0);
    
    page:SetValue("edit_pet_name",GetPetName() or "")
end
function SaveName()
    
    local maxlen = 24;
    local nickname = page:GetValue("edit_pet_name") or "";
    local txt_len = string.len(nickname);
	if(txt_len <=0)then
			_guihelper.MessageBox("名称不能为空！");
			return;
	elseif(txt_len  > maxlen)then
			--_guihelper.MessageBox(string.format("名称太长了，换一个吧！"..txt_len,maxlen));
            _guihelper.MessageBox("名称太长了，换一个吧！");
			return;
	else
        local data = GetDataSource();
        if(data and CombatPetPage.selected_pet_index)then
            local pet = data[CombatPetPage.selected_pet_index];
            if(pet)then
                pet.name = nickname;
                local gsid = pet.gsid;
                local bHas,guid = hasGSItem(gsid);
                if(bHas)then
                    local item = ItemManager.GetItemByGUID(guid);
                    if(item and item.SetName_client)then
                        item:SetName_client(nickname);
                        CombatPetPage.is_edit = 0;
                        page:Refresh(0);
                    end
                end
            end
        end
   end
end
function GetPetItem()
    local pet = GetPet();
    if(pet)then
        local gsid = pet.gsid;
        if(gsid) then
		    local hasGSItem = ItemManager.IfOwnGSItem;
		    local bHas, guid = hasGSItem(gsid);
		    if(bHas == true) then
			    local item = ItemManager.GetItemByGUID(guid);
			    if(item and item.guid > 0) then
                    return item;
			    end
		    end
        end
    end
end

function GetPetGsid()
    local pet = GetPet();
    if(pet)then
        return pet.gsid;
    end
end

function GetPet()
    local data = GetDataSource();
    if(data and CombatPetPage.selected_pet_index)then
        local pet = data[CombatPetPage.selected_pet_index];
       return pet;
    end
end
function IsCombatPet()
    local data = GetDataSource();
    if(data and CombatPetPage.selected_pet_index)then
        local pet = data[CombatPetPage.selected_pet_index];
        if(pet and pet.is_combat_pet and pet.is_combat_pet == 1)then
            return true;
        end
    end
end
function GetLevel()
   return  CombatPetPage.GetLevel();
end
function ShowLevel_Info_1()
     local level,cur_exp,total_exp,isfull = GetLevel();
     
     if(level and level >=0)then

        local s = string.format([[当前等级:<div style="float:left;color:#a604d2">%d</div>级]],level);
        return s;
     end
end
function ShowLevel_Info_2()
     local level,cur_exp,total_exp,isfull = GetLevel();
     if(level and level >=0)then
        local s = string.format("%d/%d",cur_exp or 0,total_exp or 0);
        return s;
     end
end
function ShowLevel_Info_3()
     local level,cur_exp,total_exp,isfull = GetLevel();
     if(level and level >=0)then
        local s = string.format([[当前经验:<div style="float:left;color:#ffffff;width:100px;">%d</div>]],cur_exp);
        return s;
     end
end

function IsFullLevel()
    local level,cur_exp,total_exp,isfull = GetLevel();
    return isfull;
end
function GetProperty(key)
    if(not key)then return end
     local data = GetDataSource();
    if(data and CombatPetPage.selected_pet_index)then
        local pet = data[CombatPetPage.selected_pet_index];
        if(pet)then
            local gsid = pet.gsid;
            local provider = CombatPetHelper.GetClientProvider();
		    if(provider)then
                local p = provider:GetPropertiesByID(gsid);
                if(p)then
                    return p[key];
                end
            end
        end
    end
end
function TableHasValue(t)
    if(not t)then return end
    for k = 1,500 do
        if(t[k])then
            return true;
        end
    end
end
function ShowMaxLevel()
   local level = GetProperty("max_level");
   local s = string.format([[最高等级:<div style="float:left;color:#a604d2">%d</div>级]],level or 0);
   return s;
end
function ShowCurLevel_Props()
   local level = GetLevel();
   local s = Get_Props_ByLevel(level);
   if(s)then
        local s = string.format("当前级别附加属性:%s",s);
        return s;
   end
end
function ShowNextLevel_Props()
   local level = GetLevel();
   local s = Get_Props_ByLevel(level+1);
   if(s)then
        local s = string.format("下一级别附加属性:%s",s);
        return s;
   end
end
function ShowMaxLevel_Props()
   local level = GetProperty("max_level");
   local s = Get_Props_ByLevel(level - 1);
   if(s)then
        local s = string.format("满级附加属性:%s",s);
        return s;
   end
end
function ShowCurLevel_Cards()
   local level = GetLevel();
   local s = Get_Cards_ByLevel(level);
   if(s)then
        local s = string.format("当前级别附加卡片:%s",s);
        return s;
   end
end
function ShowNextLevel_Cards()
   local level = GetLevel();
   local max_level = GetProperty("max_level");
   if((level+1) < max_level)then
       local s = Get_Cards_ByLevel(level+1);
       if(s)then
            local s = string.format("下一级别附加卡片:%s",s);
            return s;
       end
   end
end
function ShowMaxLevel_Cards()
   local level = GetProperty("max_level");
   local s = Get_Cards_ByLevel(level - 1);
   if(s)then
        local s = string.format("满级附加卡片:%s",s);
        return s;
   end
end
function Get_Cards_ByLevel(level)
    if(level)then
        local append_card_level = GetProperty("append_card_level");
        level = level + 1;
         if(append_card_level and append_card_level[level])then
            local t = append_card_level[level];
            if(TableHasValue(t))then
                local s = Get_Cards_Info(t);
                return s;
            end
        end
   end
end
function Get_Props_ByLevel(level)
    if(level)then
        local append_prop_level = GetProperty("append_prop_level");
        level = level + 1;
         if(append_prop_level and append_prop_level[level])then
            local t = append_prop_level[level];
            if(TableHasValue(t))then
                local s = Get_Props_Info(t);
                s = string.format("<br/>%s",s);
                return s;
            end
        end
   end
end
function Get_Cards_Info(t)
    local s="";
    if(t)then
        local k,v;
        for k,v in ipairs(t) do
            local gsItem = ItemManager.GetGlobalStoreItemInMemory(v);
            if(gsItem)then
                local  path = string.format("%s;0 0 45 44",gsItem.descfile);
                local tooltip_str = string.format([[page://script/apps/Aries/Inventory/Cards/CardsTooltip.html?gsid=%d]],v);
                --local str = string.format([[<pe:item gsid="%d"  icon="%s" showdefaulttooltip="true" isclickable="false" style="float:left;width:36px;height:36px;" />]],v,path);
                local str = string.format([[<pe:item gsid="%d"  icon="%s" isclickable="false" style="float:left;margin-left:2px;width:36px;height:36px;" tooltip='%s' tooltip_offset_x="5" tooltip_offset_y="-55"/>]],v,path,tooltip_str);
                s = s .. str;
            end
        end
    end
    return s;
end
function Get_Props_Info(t)
    local s="";
    if(t)then
        local k,v;
        for k,v in pairs(t) do
            local str = Combat.GetStatWord_OfTypeValue(k,v);
            if(str)then
                if(s=="")then
                    s = s .. str;
                else
                    s = s ..",".. str;
                end
            end
        end
    end
    s = string.gsub(s,"+"," ");
    s = string.format([[<div style="float:left;color:#a604d2">%s</div>]],s);
    return s;
end
function ShowAddExpNumber()
    local pet = GetPet();
    local level = GetLevel();
    if(pet and level)then
        local gsid = pet.gsid;
        local provider = CombatPetHelper.GetClientProvider();
		if(provider)then
            local p = provider:GetPropertiesByID(gsid);
            if(p)then
                local max_exp = p.add_exp_max_default;
                if(not max_exp)then
                    local key = string.format("add_exp_max_level_%d",level + 1);
                    max_exp = p.add_exp_max_level[key];
                end
                local s = string.format([[单场战斗最大经验值:<div style="float:left;color:#a604d2">%d</div>]],max_exp or 0);
                return s;
            end
        end
    end
end
function GetCurFeedNum()
    local pet = GetPet();
    if(pet)then
        local cur_feed_num = pet.cur_feed_num or 0;
        if(cur_feed_num)then
            cur_feed_num = 15 - cur_feed_num;
            cur_feed_num = math.max(0,cur_feed_num);
            local s = string.format([[当天剩余可喂养次数:<div style="float:left;color:#a604d2">%d</div>]],cur_feed_num);
            return s;
        end
    end
end
function ShowPlace()
    local pet = GetPet();
    if(pet)then
        local gsid = pet.gsid;
        local provider = CombatPetHelper.GetClientProvider();
		if(provider)then
            local xmlnode = provider:GetReadOnlyPetXmlNode(gsid);
            if(xmlnode)then
                local s="";
                local place;

                for place in commonlib.XPath.eachNode(xmlnode, "//places/place") do
                    local str = place[1] or "";
                    str = string.format([[<div style="color:#a604d2;float:left;">%s</div>]],str);
                    s = s .. str;
                end
                s = string.format([[<div style="float:left;">出现地点:</div>%s]],s);
                 return s;
            end
        end
    end
end
function ShowDesc()
    local pet = GetPet();
    if(pet)then
        return pet.description;
    end
end
function CanShowBtn()
    if(CombatPetPage.state == 1 and CombatPetPage.nid == Map3DSystem.User.nid)then
        return true;
    end
end
function DoToggleHome()
    local item = GetPetItem();
    if(item)then
        local MsgHandler = commonlib.gettable("MyCompany.Aries.Combat.MsgHandler");
        if(CombatPetPage.is_combat_state) then
            MsgHandler.OnPickPet(item);
        else
            item:OnClick("left");
        end
    end
    page:CloseWindow();
end

function DoSpecial()
    local pet = GetPet();
    if(pet)then
        local gsid = pet.gsid;
        local k,v;
        for k,v in ipairs(CombatPetPage.must_in_homeland) do
            if(gsid == v)then
                NPL.load("(gl)script/kids/3DMapSystemUI/HomeLand/HomeLandGateway.lua");
                if(not Map3DSystem.App.HomeLand.HomeLandGateway.IsInMyHomeland())then
                    NPL.load("(gl)script/apps/Aries/Desktop/GUIHelper/CustomMessageBox.lua");
                    _guihelper.Custom_MessageBox("这个操作只能在你自己的家园中操作哦！",function(result)
	                    if(result == _guihelper.DialogResult.OK)then
		                    commonlib.echo("OK");
	                    end
                    end,_guihelper.MessageBoxButtons.OK,{ok = "Texture/Aries/Common/IKnow_32bits.png; 0 0 153 49"});
                    return;
                end
            end
        end
        local item = GetPetItem();
       if(item and item.DoSpecialAbility)then
            item:DoSpecialAbility();
       end
   end
    page:CloseWindow();
end
function IsSelectedIndex(index)
    index = tonumber(index);
    if(index == CombatPetPage.selected_pet_index)then
        return true;
    end
end
mouseover_bg = "Texture/Aries/Friends/buddy_tag_bg_selected_212_30_32bits.png;0 0 212 30";
function GetNormal_BG(index)
    if(IsSelectedIndex(index))then
        return mouseover_bg;
    else
        return "";
    end
end

function IsVipPet()
    local pet = GetPet();
    if(pet and pet.req_magic_level and pet.req_magic_level > -1)then
        return true;
    end
end
function ShowReqMagicLevelStr()
    local pet = GetPet();
    if(IsVipPet())then
        local s = string.format([[需要魔法星等级:<div style="float:left;color:#a604d2">%d</div>]],pet.req_magic_level);
        return s;
    end
end
function HasPets()
    local data = CombatPetPage.GetDataSource();
    if(data)then
        local len = #data;
        if(len >0)then
            return true;
        end
    end
end
function IsFullLevel()
    local pet = GetPet();
    if(pet)then
        return pet.isfull;
    end
end
function DoFeed()
    local pet = GetPet();
    if(IsCombatPet() and pet)then
        if(pet.isfull)then
            local s = string.format([[%s已经长到满级啦，不需要再喂食啦！]],pet.name);
			    _guihelper.Custom_MessageBox(s,function(result)
			    end,_guihelper.MessageBoxButtons.OK,{ok = "Texture/Aries/Common/IKnow_32bits.png; 0 0 153 49"});
            return
        end
        NPL.load("(gl)script/apps/Aries/CombatPet/CombatPetFoodsPage.lua");
        local CombatPetFoodsPage = commonlib.gettable("MyCompany.Aries.CombatPet.CombatPetFoodsPage");
        CombatPetFoodsPage.ShowPage(pet.gsid);
    end
end
function CanMoveUp(index)
    if(not index)then return end
    if(index > 1)then
        return true;
    end
end
function CanMoveDown(index)
    if(not index)then return end
    local data = CombatPetPage.pets_datasource;
    if(data)then
        local len = #data;
        if(index < len)then
            return true;
        end
    end
end
function DoMoveUp(index)
    if(not CanMoveUp(index))then return end 
    local data = CombatPetPage.pets_datasource;
    CombatPetPage.SwapNodeOrder(index-1,index,data);
    page:Refresh(0);
end
function DoMoveDown(index)
    if(not CanMoveDown(index))then return end 
    local data = CombatPetPage.pets_datasource;
    CombatPetPage.SwapNodeOrder(index+1,index,data);
    page:Refresh(0);
end
function GetTooltip(index)
    local data = CombatPetPage.pets_datasource;
    local node = data[index];
    if(node)then
        local s = string.format("%d_%d_%d",node.is_combat_pet,node.order,node.is_top_level);
        return s;
    end
end
function DoHidePet(index)
    local data = CombatPetPage.pets_datasource;
    local node = data[index];
    if(node)then
        node.hide_in_homeland = true;
        CombatPetPage.SetValue_PetLocalShowInfo(node.gsid,nil);
        page:Refresh(0);
    end
end
function DoShowPet(index)
    local data = CombatPetPage.pets_datasource;
    local node = data[index];
    if(node)then
        node.hide_in_homeland = nil;
        CombatPetPage.SetValue_PetLocalShowInfo(node.gsid,true);
        page:Refresh(0);
    end
end
]]></script>
<div style="width:650px;height:480px;background:url(Texture/Aries/NPCs/CombatPet/bg_32bits.png# 0 0 64 445 : 30 80 30 80)">
     <input style="margin-left:610px;margin-top:-10px;width:54px;height:54px;background:url(Texture/Aries/Common/Close_Big_54_32bits.png#0 0 54 54);" type="button" name="close" onclick="ClosePage()" value=""/>
 <div style="float:left;margin-left:20px;margin-top:-20px;width:240px;height:430px;background:url(Texture/Aries/Common/tile_2_bg_32bits.png#0 0 64 420: 30 100 30 100);">
       <div style="font-size:14;font-weight:bold;width:240px;height:20px;margin-top:10px;text-align:center;"><%=GetPetCnt() %></div>
        <pe:gridview DataSource="<%=DS_Func_Pets%>" name="FollowPetsManager" style="margin-left:10px;margin-top:0px;margin-right:-4px;margin-bottom:0px;" 
            VerticalScrollBarStep="35" CellPadding="5"  DefaultNodeHeight = "30" ItemsPerLine="1" AllowPaging="true" pagesize="10">
            <Columns>
                <div style="position:relative;margin-left:155px;">
                    <pe:if condition="<%=MyCompany.Aries.CombatPet.CombatPetPage.state == 1%>">
                        <pe:if condition='<%=CanMoveUp(Eval("index"))%>'>
                            <input type="button" tooltip='顺序往上移'  style="position:relative;width:22px;height:22px;background:url(Texture/Aries/NPCs/CombatPet/up_arrow_32bits.png)" zorder="2" name='<%=Eval("index")%>' onclick="DoMoveUp"/>
                        </pe:if>
                        <pe:if condition='<%=CanMoveDown(Eval("index"))%>'>
                            <input type="button" tooltip='顺序往下移' style="position:relative;margin-left:18px;margin-top:3px;width:22px;height:22px;background:url(Texture/Aries/NPCs/CombatPet/down_arrow_32bits.png)" zorder="2" name='<%=Eval("index")%>' onclick="DoMoveDown"/>
                        </pe:if>
                        <pe:if condition='<%=not Eval("hide_in_homeland")%>'>
                            <input type="button" tooltip='在家园中显示' style="position:relative;margin-left:40px;margin-top:5px;width:16px;height:16px;background:url(Texture/Aries/Common/ThemeKid/checkbox_32bits.png)" zorder="2" name='<%=Eval("index")%>' onclick="DoHidePet"/>
                        </pe:if>
                        <pe:if condition='<%=Eval("hide_in_homeland")%>'>
                            <input type="button" tooltip='在家园中隐藏' style="position:relative;margin-left:40px;margin-top:5px;width:16px;height:16px;background:url(Texture/Aries/Common/ThemeKid/uncheckbox_32bits.png)" zorder="2" name='<%=Eval("index")%>' onclick="DoShowPet"/>
                        </pe:if>
                    </pe:if>
                </div>
                <div style="width:212px;height:30px;background:url(Texture/Aries/Friends/buddy_tag_bg_32bits.png#0 0 32 30:16 15 15 14)">
                    <div style="position:relative">
                        <aries:combatpet gsid='<%=Eval("gsid")%>' zorder="1" click_teleport="true" show_icon="true" style="float:left;width:32px;height:32px;" />
                    </div>
                    <a style="width:212px;height:30px;margin:0px;padding:0px;background:;"
                        onclick="MyCompany.Aries.CombatPet.CombatPetPage.DoClick" param1='<%=Eval("index")%>'>
                        <input type="button" Normal_BG='<%=GetNormal_BG(Eval("index")) %>' MouseOver_BG='<%=Eval("mouseover_bg")%>' alwaysmouseover="true" style="float:right;margin-top:0px;width:212px;height:30px;background:;"/>
                        <div style="margin-left:29px;margin-top:-32px;padding-left:5px;padding-top:2px;width:212px;height:30px;">
                                
                            <div style="float:right;margin-left:6px;margin-top:3px;width:108px;font-size:12pt;color:#000000">
                                <div style="width:0px;float:left;">
                                    <%=Eval("name")%>
                                </div>
                            </div>
                        </div>
                    </a>
                        
                </div>
                
            </Columns>
            <EmptyDataTemplate>
                <div style="font-size:12;">你现在还没有宠物，快去跳跳农场抓一只宠物吧。</div>
            </EmptyDataTemplate>
            <FetchingDataTemplate>
                <div style="margin-left:40px;margin-top:10px;">数据加载中，请稍等</div>
            </FetchingDataTemplate>
	       <PagerSettings Position="Bottom" height="36" style="margin-left:40px;margin-top:-10px;width:168px;height:32px;" PreviousPageText="previous page" NextPageText="next page"/>
	        <PagerTemplate>
	            <form>
	            <input type="button" name="pre" invisibleondisabled="false" zorder=2 animstyle="23" tooltip="上一页" style="width:42px;height:41px;background:url(Texture/Aries/Quest/pageleft_32bits.png#0 0 42 41)"/>
	            <div style="float:right;margin-top:4px;width:40px;">
	                <label name="page" style="text-align:center;width:64px;height:18px;margin:4px"/>
	            </div>
	            <input type="button" name="next" invisibleondisabled="false" zorder=2 animstyle="23" tooltip="下一页" style="width:42px;height:41px;background:url(Texture/Aries/Quest/pageright_32bits.png#0 0 42 41)"/>
	             </form>
	        </PagerTemplate>
        </pe:gridview>
    </div>
<div style="float:left;width:370px;margin-top:-30px;margin-left:10px;">
 <div style="text-align:center;height:30px;color:#FFFFFF;font-size:14;font-weight:bold;">
 <pe:if condition='<%=not CanEdit() %>'>
 <%=GetPetName() %>
 </pe:if>
  <pe:if condition='<%=CanEdit() %>'>
   <div style="float:left;margin-left:80px;width:130px;height:32px;">
        <pe:if condition='<%= not IsEdit()%>'>
        <div style="color:#FFFFFF;font-size:14;font-weight:bold;text-align:center;"><div style="float:left;"><%=GetPetName()%></div></div>
        </pe:if>
        <pe:if condition='<%=IsEdit()%>'>
        <input type="text" name="edit_pet_name" zorder="2" style="width:130px;height:25px;"/>
        </pe:if>
    </div>
    <pe:if condition='<%= not IsEdit()%>'>
        <input type="button" zorder="3" style="margin-left:15px;margin-top:-2px;width:32px;height:32px;background:url(Texture/Aries/Profile/Modify_32bits.png);"
        onclick="ChangeName();" tooltip="改名字" value=""/>
</pe:if>
<pe:if condition='<%=IsEdit()%>'>
    <input type="button" zorder="3" style="margin-left:15px;margin-top:-2px;width:32px;height:32px;background:url(Texture/Aries/Profile/Save_32bits.png);"
        onclick="SaveName();" tooltip="保存" value=""/>
</pe:if>
 </pe:if>
</div>
<div style="width:350px;height:210px;background:url(Texture/Aries/Common/tile_2_bg_32bits.png#0 0 64 420: 30 100 30 50)">
 <input style="margin-left:10px;margin-top:10px;width:32px;height:32px;background:url(Texture/Aries/Inventory/SmallHelp_32bits.png);" 
                        type="button" name="help" onclick="ViewHelp()" zorder="1" value="" tooltip="战宠帮助"/>
    <pe:if condition="<%=IsCombatPet()%>">
        <div style="margin-left:-10px;margin-top:-50px;width:256px;height:256px;">
                <pe:canvas3d name="FollowPetCanvas_1"  DefaultRotY="-0.7" FieldOfView="1.047" miniscenegraphname="FollowPetInfoInHomeland" style="width:220px;height:220px;"/>
                <aries:miniscenecameramodifier miniscenename="FollowPetInfoInHomeland" type="rotateleft" zorder="2" style="float:left;margin-left:15px;margin-top:-50px;width:36px;height:36px;background:url(Texture/Aries/Inventory/rotate_left_32bits.png#0 0 36 36)"/>
                <aries:miniscenecameramodifier miniscenename="FollowPetInfoInHomeland" type="rotateright" zorder="2" style="float:left;margin-left:120px;margin-top:-50px;width:36px;height:36px;background:url(Texture/Aries/Inventory/rotate_right_32bits.png#0 0 36 36)"/>
        </div>
    </pe:if>
     <pe:if condition="<%=not IsCombatPet()%>">
        <div style="margin-left:60px;margin-top:-50px;width:256px;height:256px;">
                <pe:canvas3d name="FollowPetCanvas_2" DefaultRotY="-0.7" FieldOfView="1.047" miniscenegraphname="FollowPetInfoInHomeland" style="width:220px;height:220px;"/>
                <aries:miniscenecameramodifier miniscenename="FollowPetInfoInHomeland" type="rotateleft" zorder="2" style="float:left;margin-left:-55px;margin-top:-50px;width:36px;height:36px;background:url(Texture/Aries/Inventory/rotate_left_32bits.png#0 0 36 36)"/>
                <aries:miniscenecameramodifier miniscenename="FollowPetInfoInHomeland" type="rotateright" zorder="2" style="float:left;margin-left:247px;margin-top:-50px;width:36px;height:36px;background:url(Texture/Aries/Inventory/rotate_right_32bits.png#0 0 36 36)"/>
        </div>
    </pe:if>
    <div style="font-size:12;margin-left:200px;margin-top:-230px;padding-right:5px;">
        <pe:if condition="<%=MyCompany.Aries.CombatPet.CombatPetPage.state == 1 and IsCombatPet()%>">
                    <div><%=ShowLevel_Info_1() %></div>
                    <div><%=ShowMaxLevel() %></div>
                    <div><%=ShowPlace() %></div>
                    <div><%=ShowAddExpNumber() %></div>
                     <!--<pe:if condition="<%=not IsFullLevel() %>">
                        <div><%=GetCurFeedNum() %></div>
                    </pe:if>-->
                    <pe:if condition="<%=IsVipPet() %>">
                        <div><%=ShowReqMagicLevelStr() %></div>
                    </pe:if>
        </pe:if>
         <pe:if condition="<%=MyCompany.Aries.CombatPet.CombatPetPage.state == 2  and IsCombatPet()%>">
                <div><%=ShowMaxLevel() %></div>
                <div><%=ShowPlace() %></div>
                <div><%=ShowAddExpNumber() %></div>
                    <pe:if condition="<%=IsVipPet() %>">
                    <div><%=ShowReqMagicLevelStr() %></div>
                </pe:if>
        </pe:if>
    </div>
</div>
<div style="height:30px;margin-top:10px;">
    <pe:if condition="<%=IsCombatPet() and CanShowBtn()%>">
        <pe:if condition="<%=not IsFullLevel() %>">
          <div style="float:left;font-size:12px;">当前经验:</div>
            <div style="float:left;">
                <pe:progressbar name="progress" Minimum = "0" Maximum = "10" Value = "0" Step = "1"
                    style="width:160px;height:25px;"
                    blockimage="Texture/Aries/Inventory/green_fill_32bits.png;0 0 32 26: 14 13 14 12" 
                    background="Texture/Aries/Inventory/Empty_slot_32bits.png;0 0 32 26: 14 13 14 12"
                />
            </div>
            <div style="margin-left:-60px;margin-top:-22px;color:#ffffff;text-align:center"><%=ShowLevel_Info_2() %></div>
             <input type="button" style="margin-left:250px;margin-top:-40px;width:98px;height:46px;background:;" 
                    onclick="DoFeed" name="btn_feedpet" />
        </pe:if>
    </pe:if>
</div>
<div style="width:350px;height:160px;font-size:12;padding-left:0px;padding-top:10px;background:url(Texture/Aries/Common/tile_3_bg_32bits.png: 25 25 25 25)">
<pe:if condition="<%= not IsCombatPet() %>">
    <%=ShowDesc() %>
</pe:if>
<pe:if condition="<%=IsCombatPet()%>">
   <pe:treeview name="tvwXMLTest4" DefaultNodeHeight="20" style="margin-left:0px;margin-top:-10px;width:360px;height:160px;font-size:12px;background:;">
    <div style="font-size:12;">
        <pe:if condition="<%=MyCompany.Aries.CombatPet.CombatPetPage.state == 1 %>">
             <pe:if condition="<%=not IsFullLevel() %>">
                <div><%=ShowCurLevel_Props() %></div>
                <div><%=ShowNextLevel_Props() %></div>
                <div><%=ShowMaxLevel_Props() %></div>
                <div><%=ShowCurLevel_Cards() %></div>
                <div><%=ShowNextLevel_Cards() %></div>
                <div><%=ShowMaxLevel_Cards() %></div>
            </pe:if>
             <pe:if condition="<%=IsFullLevel() %>">
                <div>当前宠物已为满级</div>
                <div><%=ShowMaxLevel_Props() %></div>
                <div><%=ShowMaxLevel_Cards() %></div>
            </pe:if>
        </pe:if>
        <pe:if condition="<%=MyCompany.Aries.CombatPet.CombatPetPage.state == 2 %>">
            <div><%=ShowMaxLevel_Props() %></div>
            <div><%=ShowMaxLevel_Cards() %></div>
        </pe:if>
    </div>
    </pe:treeview>
</pe:if>
</div>
<div style="width:500px;margin-left:20px;margin-top:-2px;">
    <pe:if condition="<%=CanShowBtn() %>">
           <input type="button" enabled="false" style="margin-left:4px;width:153px;height:49px;background:;" 
                        onclick="DoToggleHome" name="btn_togglehome" />
            <input type="button" enabled="false" style="margin-left:10px;width:153px;height:49px;background:;" 
                        onclick="DoSpecial" name="btn_special" />
            <input type="button" enabled="false" style="margin-left:-236px;width:153px;height:49px;background:;" 
                        onclick="DoToggleHome" name="btn_togglehome_single" />
    </pe:if>
</div>
</div>
<div style="float:left;margin-left:10px;margin-top:10px;">
    <pe:if condition="<%=MyCompany.Aries.CombatPet.CombatPetPage.state == 1 %>">
            <input type="radio" name="Level2Tabs" id="Radio1" value="1" style="width:46px;height:112px;margin-left:-13px;background-color:#FFFFFF;"
                CheckedBG="Texture/Aries/NPCs/CombatPet/my_pets_1_32bits.png;0 0 46 112" 
                UncheckedBG="Texture/Aries/NPCs/CombatPet/my_pets_2_32bits.png;0 0 33 112"
                onclick="MyCompany.Aries.CombatPet.CombatPetPage.DoRadio()"/>
            <input type="radio" name="Level2Tabs" id="Radio2" value="2" style="width:33px;height:112px;margin-top:5px;background-color:#FFFFFF;"
                CheckedBG="Texture/Aries/NPCs/CombatPet/all_pets_1_32bits.png;0 0 46 112" 
                UncheckedBG="Texture/Aries/NPCs/CombatPet/all_pets_2_32bits.png;0 0 33 112"
                onclick="MyCompany.Aries.CombatPet.CombatPetPage.DoRadio()"/>
    </pe:if>
    <pe:if condition="<%=MyCompany.Aries.CombatPet.CombatPetPage.state == 2 %>">
            <input type="radio" name="Level2Tabs" id="Radio3" value="1" style="width:33px;height:112px;margin-left:0px;background-color:#FFFFFF;"
                CheckedBG="Texture/Aries/NPCs/CombatPet/my_pets_1_32bits.png;0 0 33 112" 
                UncheckedBG="Texture/Aries/NPCs/CombatPet/my_pets_2_32bits.png;0 0 33 112" 
                onclick="MyCompany.Aries.CombatPet.CombatPetPage.DoRadio()"/>
            <input type="radio" name="Level2Tabs" id="Radio4" value="2" style="width:46px;height:112px;margin-left:-13px;margin-top:5px;background-color:#FFFFFF;"
                CheckedBG="Texture/Aries/NPCs/CombatPet/all_pets_1_32bits.png;0 0 46 112"
                UncheckedBG="Texture/Aries/NPCs/CombatPet/all_pets_2_32bits.png;0 0 33 112"
                onclick="MyCompany.Aries.CombatPet.CombatPetPage.DoRadio()"/>
    </pe:if>

</div>
</div>
</pe:mcml>
</body>
</html>

