<!-- "script/apps/Aries/NPCs/ShoppingZone/Avatar_equip_upgrade.kids.html" -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Avatar_equip_upgrade,add by WD, 2011/09/24</title>
</head>
<body> 
<pe:mcml>
<script refresh="true" type="text/npl" ><![CDATA[
NPL.load("(gl)script/apps/Aries/NPCs/ShoppingZone/Avatar_equip_upgrade.lua");
NPL.load("(gl)script/apps/Aries/NPCs/ShoppingZone/Avatar_equipment_subpage.lua");
NPL.load("(gl)script/apps/Aries/Items/item.addonlevel.lua");
local addonlevel = commonlib.gettable("MyCompany.Aries.Items.addonlevel");
local Avatar_equipment_subpage = commonlib.gettable("MyCompany.Aries.NPCs.ShoppingZone.Avatar_equipment_subpage");
local Avatar_equip_upgrade = commonlib.gettable("MyCompany.Aries.NPCs.ShoppingZone.Avatar_equip_upgrade");
Avatar_equipment_subpage:Init();

local ItemManager = Map3DSystem.Item.ItemManager;
local getItemByGuid = ItemManager.GetItemByGUID;

function equip_GetDataSource(arg)
    return Avatar_equipment_subpage:GetDataSource(arg);
end

function equip_OnClickItem(arg)
	if(arg and addonlevel and addonlevel.get_levelup_req)then
		 local goods = getItemByGuid(arg);
		 
		 if(goods and goods.GetAddonLevel)then
			local from_level = goods:GetAddonLevel() or 0
            if(from_level >= goods:GetMaxAddonLevel())then
                _guihelper.MessageBox("该装备不能再强化了。")
                return;
            end
        end
        Avatar_equipment_subpage:OnClickItem(arg,false);
    end
end

local Avatar_equip_upgrade = commonlib.gettable("MyCompany.Aries.NPCs.ShoppingZone.Avatar_equip_upgrade");
Avatar_equip_upgrade:Init();

function OnClickItem(arg,mcmlNode)
    if(mcmlNode)then
        arg = mcmlNode:GetAttribute("param1")
    end
    Avatar_equip_upgrade:OnClickItem(arg);
end

function ClosePage()
    Avatar_equip_upgrade:CloseWindow();
end

function FilterItems(arg)
    return Avatar_equipment_subpage:FilterItems(arg);
end


function DummyFunc()

end

]]></script>
<div class="window" style="width:750px;height:450px;">
    <div class="titlebar" width="100%">
      <div class="windowlabel" >装备强化</div>
      <pe:goalpointer listen="close" class="closewindow"></pe:goalpointer>
      <input type="button" style="margin-top:1px;margin-right:5px" onclick="ClosePage" class="closewindow"/>
    </div>
    <div class="clientarea" style="margin-left:10px;margin-right:10px;margin-top:5px;">
        <div  style="float:left;margin-top:5px;width:316px;height:405px;background:url(Texture/Aries/common/themekid/EQUIP_EXCHANGE/bg_left_panel_32bits.png: 20 20 20 20)">
            <div style="width:316px;height:275px;">
    
            <div style="text-align:center;margin-left:7px;margin-top:8px;">请放入你要强化的装备</div>
            <!--<div style="text-align:center;color:#808080;margin-left:7px;">(强化后,旧装备上的宝石会保留)</div>-->
            
            <div style="width:75px;height:75px;margin-top:8px;padding:6px;background:url(Texture/Aries/Desktop/CombatCharacterFrame/inventory/bg.png#0 0 90 90)" align="center" >
                <pe:if condition='<%= MyCompany.Aries.NPCs.ShoppingZone.Avatar_equipment_subpage.IncomingEquip.guid ~= 0 %>' >
                <pe:slot onclick='OnClickItem' param1="from" name="IncomingEquipGuid" showdefaulttooltip="true" style="width:64px;height:64px;" />
                </pe:if>
            </div>

            <div align="center" style="width:32px;margin-top:18px;margin-left:5px;height:45px;background:url(Texture/Aries/Common/themekid/EQUIP_EXCHANGE/yellow_arrow_32bits.png#0 0 32 45)"/>
            <div align="center" style="width:158px;height:75px;margin-top:8px;padding:6px;background:url(Texture/Aries/Desktop/CombatCharacterFrame/inventory/bg.png#0 0 90 90: 7 7 7 7)" >
                <div style="position:relative;width:260px;">
                <%=MyCompany.Aries.NPCs.ShoppingZone.Avatar_equip_upgrade.GetProps() %>
                </div>
            </div>

            </div>
            <div style="height:27px;">
                <pe:tabs  name="tabs3"          
                SelectedMenuItemBG="Texture/Aries/HaqiShop/radiobg2_32bits.png:12 14 12 14" 
                UnSelectedMenuItemBG="Texture/Aries/HaqiShop/radiobg2_32bits.png:12 14 12 14" style="background:;margin-left:8px;">
                <pe:tab-item name="1" text="强化材料"  selected='true' />
                </pe:tabs>
            </div>

                <div style="padding:6px;margin-left:7px;width:300px;margin-top:-6px;background:url(texture/aries/haqishop/bg3_32bits.png: 20 20 20 20)">

                    <div style="float:left;width:48px;height:48px;margin-top:1px;" class="block">
                        <pe:item name='material_item' isclickable="false" gsid='<%=MyCompany.Aries.NPCs.ShoppingZone.Avatar_equip_upgrade.material.gsid %>' style="width:44px;height:44px;" />
                    </div>
                    <div style="float:left;margin-left:5px;margin-top:2px;">
                    <div>
                        <div style="float:left;">需要</div>
                        <div style="float:left;" class="textfieldbutton" name="txtCostSlotRocks"> <%=MyCompany.Aries.NPCs.ShoppingZone.Avatar_equip_upgrade.material.number %></div>
                        <div>
                            <div style="float:left;">拥有</div>
                            <div style="float:left;" class="textfieldbutton" name="txtIncomingGemsCount"><pe:slot type="count" gsid='<%=MyCompany.Aries.NPCs.ShoppingZone.Avatar_equip_upgrade.material.gsid %>'/></div>
                        </div>
                    </div>
                </div>
            </div>

            <div style="margin-top:4px;">
                <!--<pe:if condition='<%= MyCompany.Aries.NPCs.ShoppingZone.Avatar_equip_upgrade.CanUpgrade() %>'>-->
                <pe:goalpointer listen="do_addonlevel" style="position:relative;margin-left:120px;width:70px;height:26px;"></pe:goalpointer>
                <input type="button" name="btnAllEquipSlotting" zorder="2" class="button_highlight" text="强 化"
                 onclick="<%=MyCompany.Aries.NPCs.ShoppingZone.Avatar_equip_upgrade.EquipUpgrade %>" 
                style="margin-left:120px;width:70px;font-size:14px;font-weight:bold;height:26px;" />
                <!--</pe:if>-->
                
               <!-- <pe:if condition='<%= MyCompany.Aries.NPCs.ShoppingZone.Avatar_equip_upgrade.CanUpgrade() == false %>'>
                <input type="button" name="btnAllEquipSlotting" zorder="2" class="defaultbutton" enabled="false" text="强 化"
                 onclick="" style="margin-left:120px;width:70px;" />
                </pe:if>-->

                
            </div>
      
        </div>

        <div style="float:left;margin-top:4px;">
            <div style="height:27px;">
                <pe:tabs name="tabsEquipments"  onclick="FilterItems"         
                SelectedMenuItemBG="Texture/Aries/HaqiShop/radiobg1_32bits.png:12 14 12 14" 
                UnSelectedMenuItemBG="Texture/Aries/HaqiShop/radiobg2_32bits.png:12 14 12 14"  
                style="background:;padding-top:32px;padding-left:10px;margin-left:10px;" >
                <pe:tab-item name="1" text="所有装备"  selected='true' />
                <pe:tab-item name="2" text="手持"/>
                <pe:tab-item name="3" text="帽子"/>
                <pe:tab-item name="4" text="背部"/>
                <pe:tab-item name="5" text="衣服"/>
                <pe:tab-item name="6" text="鞋子"/>
                <pe:tab-item name="7" text="饰品"/>

                </pe:tabs>
                <!--<div style="position:relative;margin-top:5px;margin-left:12px;color:#cc3300;">穿在身上的装备不能兑换,请先脱下。</div>-->
            </div>
             <div style="width:452px;margin-left:-40px;margin-top:-1px;height:363px;background:url(Texture/Aries/HaqiShop/bg4_32bits.png:20 20 20 20);" >
             
             
             <div style="padding:15px;width:430px;margin-left:30px;margin-top:10px;height:363px;">
        <pe:gridview name="pegvwEquipView" DataSource="<%=equip_GetDataSource %>" 
            CellPadding="2" ItemsPerLine="4" AllowPaging="true" pagesize="12" >
            <Columns>
                <div style="margin-left:5px;padding:10px;margin-top:2px;width:90px;height:90px;background:url(Texture/Aries/Desktop/CombatCharacterFrame/inventory/bg.png#0 0 90 90)">
                    <pe:slot onclick='<% equip_OnClickItem %>' guid='<%=Eval("guid")%>' HideCnt= "true" showdefaulttooltip="true" style="width:70px;height:70px;"/>               
			    </div>
            </Columns>
            <!--<EmptyDataTemplate>
            <div style="text-align:center;" class="defaultstyle">没有对应数据。</div>
            </EmptyDataTemplate>-->
            <!--<FetchingDataTemplate>
            <div style="text-align:center;" class="defaultstyle">正在更新数据...</div>
            </FetchingDataTemplate>-->
	        <PagerSettings Position="Bottom" height="0" style="margin-left:152px;margin-top:-40px;width:168px;height:64px;" PreviousPageText="previous page" NextPageText="next page"/>
	        <PagerTemplate>
	            <form>
                    <input type="button" name="pre"zorder="2" style="width:20px;margin-left:0px;height:20px;background:url(Texture/Aries/Desktop/CombatCharacterFrame/common/arrow_left.png#0 0 19 19);"/>
                    <div style="float:right;margin-top:-2px;width:54px;">
	                    <label name="page" style="color:#FFFFFF;text-align:center;width:54px;height:18px;margin:4px"/>
	                </div>
	                <input type="button" name="next"zorder="2" style="margin-left:8px;width:20px;height:20px;background:url(Texture/Aries/Desktop/CombatCharacterFrame/common/arrow_right.png#0 0 22 19)"/>
	            </form>
	        </PagerTemplate>
        </pe:gridview>
        
        </div>
        </div> 
    </div>
    </div>
</div>
<script refresh="false" ><![CDATA[
local ItemManager = Map3DSystem.Item.ItemManager;
local Avatar_equipment_subpage = commonlib.gettable("MyCompany.Aries.NPCs.ShoppingZone.Avatar_equipment_subpage");

local gsid = tonumber(Page:GetRequestParam("gsid"));
if(gsid) then
    local _, guid = ItemManager.IfOwnGSItem(gsid)
	if(guid)then
        Avatar_equipment_subpage:OnClickItem(guid,false);
    end
end
]]></script>
</pe:mcml> 
</body>
</html>