<!-- "script/apps/Aries/NPCs/DrDoctor/30376_CrystalBunny_status.html" -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body>
    <pe:mcml>
<script type="text/npl" ><![CDATA[
local page = document:GetPageCtrl();
local ItemManager = System.Item.ItemManager;
local hasGSItem = ItemManager.IfOwnGSItem;
local equipGSItem = ItemManager.IfEquipGSItem;

function OnClose()
    page:CloseWindow();
end
function condition1()
    return MyCompany.Aries.Quest.NPCs.CrystalBunny.ExchangeFinishedFromDrDoctor();
end
function getTitle()
    if(condition1())then
        return "其实多克特博士也没这么凶嘛，你看不是原谅水晶兔了吗，快去找水晶兔告诉它这个好消息吧！"
    else
        return "冒冒失失的水晶兔不小心把多克特新发明的怪怪蛋放出来了，水晶兔很怕多克特博士会教训它，让我们帮助水晶兔找到制作怪怪蛋的材料给多克特，让他原谅水晶兔吧！"
    end
end

]]></script>
<div style="margin-left:100px;margin-top:84px;width:820px;height:512px;background:url(texture/Aries/Quest/QuestStatus_Wooden_32bits.png#0 0 820 512)">
<div style="margin-left:0px;margin-top:0px;width:820px;height:512px;background:url(texture/Aries/Quest/CrystalBunny/bg_32bits.png#0 0 820 512)">
<input style="margin-left:725px;margin-top:60px;width:54px;height:54px;background:url(Texture/Aries/Quest/CloseStatus_32bits.png#0 0 54 54);" type="button" name="close" 
                onclick="OnClose();" value=""/>
<div style="margin-left:100px;margin-top:20px;width:500px;height:60px;"><%=getTitle() %></div>
<div style="margin-left:130px;">
   <div style="float:left;margin-left:0px;width:105px;height:105px;">
        <aries:questobjectivestatus gsids="17052,50304"
            conjunction = "or"
            on_bg = "texture/Aries/Quest/CrystalBunny/yellow_32bits.png;0 0 105 105"
            off_bg = "texture/Aries/Quest/CrystalBunny/yellow2_32bits.png;0 0 105 105"
            tooltip = "黄色颜料---玩小游戏"
            style="width:105px;height:105px;margin-left:0px;margin-top:10px;"/>
    </div>  
      <div style="float:left;margin-left:0px;width:105px;height:105px;">
        <aries:questobjectivestatus gsids="17057,50304"
            conjunction = "or"
            on_bg = "texture/Aries/Quest/CrystalBunny/blue_32bits.png;0 0 105 105"
            off_bg = "texture/Aries/Quest/CrystalBunny/blue2_32bits.png;0 0 105 105"
            tooltip = "蓝色颜料---玩小游戏"
            style="width:105px;height:105px;margin-left:0px;margin-top:10px;"/>
    </div>
      <div style="float:left;margin-left:-40px;width:105px;height:105px;">
        <aries:questobjectivestatus gsids="17056,50304"
            conjunction = "or"
            on_bg = "texture/Aries/Quest/CrystalBunny/red_32bits.png;0 0 105 105"
            off_bg = "texture/Aries/Quest/CrystalBunny/red2_32bits.png;0 0 105 105"
            tooltip = "红色颜料---玩小游戏"
            style="width:105px;height:105px;margin-left:0px;margin-top:10px;"/>
    </div>
    <br />
    <div style="float:left;margin-left:-50px;margin-top:-40px;width:105px;height:105px;">
        <aries:questobjectivestatus gsids="17010,50304"
            conjunction = "or"
            on_bg = "texture/Aries/Quest/CrystalBunny/egg_32bits.png;0 0 105 105"
            off_bg = "texture/Aries/Quest/CrystalBunny/egg2_32bits.png;0 0 105 105"
            tooltip = "跳蚤鸡蛋---跳跳农场"
            style="width:105px;height:105px;margin-left:0px;margin-top:10px;"/>
    </div>  
      <div style="float:left;margin-left:0px;width:105px;height:105px;">
        <aries:questobjectivestatus gsids="17059,50304"
            conjunction = "or"
            on_bg = "texture/Aries/Quest/CrystalBunny/brown_32bits.png;0 0 105 105"
            off_bg = "texture/Aries/Quest/CrystalBunny/brown2_32bits.png;0 0 105 105"
            tooltip = "棕色颜料---玩小游戏"
            style="width:105px;height:105px;margin-left:0px;margin-top:10px;"/>
    </div>
      <div style="float:left;margin-left:0px;width:105px;height:105px;">
        <aries:questobjectivestatus gsids="17055,50304"
            conjunction = "or"
            on_bg = "texture/Aries/Quest/CrystalBunny/purple_32bits.png;0 0 105 105"
            off_bg = "texture/Aries/Quest/CrystalBunny/purple2_32bits.png;0 0 105 105"
            tooltip = "紫色颜料---玩小游戏"
            style="width:105px;height:105px;margin-left:0px;margin-top:10px;"/>
    </div>
      
    </div>   
<div style="margin-left:380px;margin-top:-210px;">
     <div style="width:169px;height:202px;margin-left:10px;margin-top:10px;background:url(texture/Aries/Quest/CrystalBunny/bunny_32bits.png#0 0 169 202)">
     <div style="float:left;margin-left:230px;width:220px;height:220px;">
            <aries:questobjectivestatus gsids="50304"
                on_bg = "texture/Aries/Quest/CrystalBunny/drdoctor_32bits.png;0 0 220 220"
                off_bg = "texture/Aries/Quest/CrystalBunny/drdoctor2_32bits.png;0 0 220 220"
                animstyle="0"
                style="width:220px;height:220px;margin-left:0px;margin-top:10px;"/>
    </div>
    </div>
</div>  
<pe:if condition = "<%= not condition1() %>">
<div style="margin-left:380px;margin-top:-210px;color:#e67c31;font-size:14;">
    <div style="margin-left:170px;margin-top:20px;">...对...对不起..</div>
    <div style="margin-left:145px;margin-top:125px;">。。。。。。</div>
</div> 
</pe:if>  
<pe:if condition = "<%= condition1() %>">
<div style="margin-left:380px;margin-top:-210px;color:#e67c31;font-size:14;">
    <div style="margin-left:170px;margin-top:20px;">...对...对不起..</div>
    <div style="margin-left:140px;margin-top:130px;">咳咳，原谅你</div>
</div>  
</pe:if>  
</div>
</div>
</pe:mcml>
</body>
</html>
