<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="LibraryCenter" type="LibraryCenter.APICenterSection, LibraryCenter"/>
    
    <sectionGroup name="enyim.com">
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
    </sectionGroup>

    <sectionGroup name="beitmemcached">
      <section name="memcached" type="BeIT.MemCached.MemcachedClientSection, BeITMemcached" />
    </sectionGroup>

    <section name="appSettings" type="System.Configuration.AppSettingsSection"/>
    <section name="connectionStrings" type="System.Configuration.ConnectionStringsSection"/>
  </configSections>

  <appSettings>
    <!-- 版本。0:儿童版；1:青年版 -->
    <add key="v" value="1"/>
    <!--用户注册后，默认情况下是否属于激活状态，1：是；0：否-->
    <add key="RegIsApproved" value="1"/>
    <!--应用程序的物理路径-->
    <add key="ServerPath" value="/var/www/APICenter/"/>
    <!-- TaoMee号最小位数 -->
    <add key="MMIDMinLength" value="5"/>
    <!-- 赠送礼物达到多少次之后，可获取的奖励。 赠送礼物的次数,可拥有的礼品盒数,可获取的物品的GSID,数量,可获取的物品的GSID,数量...|赠送礼物的次数,可拥有的礼品盒数,可获取的物品的GSID,数量,可获取的物品的GSID,数量...|赠送礼物的次数,可拥有的礼品盒数,可获取的物品的GSID,数量,可获取的物品的GSID,数量... -->
    <add key="Hortation" value="10,5,20005,1|11,7,20001,1|12,9,20002,1|13,12,20003,1"/>
    <!--用户注册时获赠的物品，GSID,数量|GSID,数量|GSID,数量...-->
    <add key="presentItems" value=""/>

    <!--用户注册时赠送的P币 RMB-->
    <add key="presentMoneyP" value="0"></add>
    <!--用户注册时赠送的信用度-->
    <add key="presentCredits" value="1000"></add>
    <!--用户注册时赠送的E币 奇豆-->
    <add key="presentMoneyE" value="2000"/>
    <!--新用户复制以下用户的所有物品信息-->
    <add key="baseNID" value="-1"/>

    <!--是否启用sessionKey，1;启用；0:不启用，在WEB应用中设为1，在保持长连接的应用中设为0-->
    <add key="enableSessionKey" value="0"/>
    <!--共有多少个数据库来做表拆分-->
    <add key="dbCnt" value="12"/>
    <!-- 共拆分为多少个Table -->
    <add key="tbCnt" value="72"/>
    <!-- 当前DB编号 -->
    <add key="dbindex" value="0"/>
    <!--服务器从几点开机，以方便数据统计及其它操作-->
    <add key="serverStartH" value="6"/>
    <!-- 最高战斗经验值 -->
    <add key="maxCombatExp" value="87850434"/>
    <!-- 所有制造系别的GSID -->
    <add key="makeSkills" value="21105,21106,21107,21108,21109,21110"/>
    <!-- 每个用户可拥有的制造系别的数量 -->
    <add key="maxSkill" value="2"/>

    <!-- 洗点配置文件路径 -->
    <add key="resetPointCnf" value="/usr/local/server/db/config/Aries/Mentor/7Mentor.teen.xml"/>    

    <!-- 公司邮箱SMTP配置 -->
    <add key="smtpHost" value="mail.paraengine.com"/>
    <add key="smtpPort" value="465"/>
    <add key="smtpEmail" value="noreply@paraengine.com"/>
    <add key="smtpPass" value="para1234567"/>
    

    <!--用户上传文件URL前辍（该服务器是指静态文件服务器）-->
    <add key="FileURLPre" value="http://tm.land.pala5.cn/"/>

    <!--用户在Wiki中注册后，会根据此配置跳转到Wiki页-->
    <add key="wikiServerName" value="http://wiki.pala5.cn/twiki/bin/view/Paraworld/WebHome"></add>
    <!--PE官网主页-->
    <add key="PEWebsite" value="http://www.pala5.com"/>
    <!--PE官网中用于重置密码的网页地址-->
    <add key="PEWebsiteResetPass" value="/Users/ResetPassword.aspx"/>

    <!-- 能访问MAPI中接口的IP列表，多个IP之间用英文逗号分隔，空值表示无限制 -->
    <add key="mapiip" value=""/>
    <!-- 客服的NID，多个NID之间用英文逗号分隔 -->
    <add key="cusNID" value="0"/>
  </appSettings>

  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add name="mySQL" connectionString="Data Source=192.168.0.227; Initial Catalog=km_users; user id=test; password=paraengine;   charset=utf8" providerName="MySql.Data.MySqlClient" />
    <add name="mySQLBBS"   connectionString="Data Source=192.168.0.227; Initial Catalog=km_items; user id=testbbs; password=paraengine; charset=utf8" providerName="MySql.Data.MySqlClient" />
    <add name="mySQLItems" connectionString="Data Source=192.168.0.227; Initial Catalog=km_items; user id=test; password=paraengine; charset=utf8" providerName="MySql.Data.MySqlClient" />
    <add name="userLogs"   connectionString="Data Source=192.168.0.227; Initial Catalog=db_stat;  user id=test; password=paraengine; charset=utf8" providerName="MySql.Data.MySqlClient" />
    <add name="cn0"  connectionString="Data Source=192.168.0.227; Initial Catalog=km0; user id=test; password=paraengine; charset=utf8" providerName="MySql.Data.MySqlClient" />
    <add name="cn1"  connectionString="Data Source=192.168.0.227; Initial Catalog=km1; user id=test; password=paraengine; charset=utf8" providerName="MySql.Data.MySqlClient" />
    <add name="cn2"  connectionString="Data Source=192.168.0.227; Initial Catalog=km2; user id=test; password=paraengine; charset=utf8" providerName="MySql.Data.MySqlClient" />
    <add name="cn3"  connectionString="Data Source=192.168.0.227; Initial Catalog=km3; user id=test; password=paraengine; charset=utf8" providerName="MySql.Data.MySqlClient" />
    <add name="cn4"  connectionString="Data Source=192.168.0.227; Initial Catalog=km4; user id=test; password=paraengine; charset=utf8" providerName="MySql.Data.MySqlClient" />
    <add name="cn5"  connectionString="Data Source=192.168.0.227; Initial Catalog=km5; user id=test; password=paraengine; charset=utf8" providerName="MySql.Data.MySqlClient" />
    <add name="cn6"  connectionString="Data Source=192.168.0.227; Initial Catalog=km6; user id=test; password=paraengine; charset=utf8" providerName="MySql.Data.MySqlClient" />
    <add name="cn7"  connectionString="Data Source=192.168.0.227; Initial Catalog=km7; user id=test; password=paraengine; charset=utf8" providerName="MySql.Data.MySqlClient" />
    <add name="cn8"  connectionString="Data Source=192.168.0.227; Initial Catalog=km8; user id=test; password=paraengine; charset=utf8" providerName="MySql.Data.MySqlClient" />
    <add name="cn9"  connectionString="Data Source=192.168.0.227; Initial Catalog=km9; user id=test; password=paraengine; charset=utf8" providerName="MySql.Data.MySqlClient" />
    <add name="cn10" connectionString="Data Source=192.168.0.227; Initial Catalog=km10;user id=test; password=paraengine; charset=utf8" providerName="MySql.Data.MySqlClient" />
    <add name="cn11" connectionString="Data Source=192.168.0.227; Initial Catalog=km11;user id=test; password=paraengine; charset=utf8" providerName="MySql.Data.MySqlClient" />
    <add name="sqlite" connectionString="Data Source=test.db; type=sqlite"/>
  </connectionStrings>
  
  <!-- memcache开关: enableCache:0 全部禁用，忽略子节点配置; 1 全部启用,忽略子节点配置; -1 使用子节点 enableCaching 配置-->
  <LibraryCenter defaultConnectionStringName="mySQL" enableCaching="1">
    <!-- users -->
    <!-- invites:邀请用户获得的奖励，若为空字符串，表示没有任何奖励，GSID,cnt|GSID,cnt|GSID,cnt，GSID若为-1，表示E币，若为-2，表示P币。 -->
    <User connectionStringName="mySQL" invites="50337,1|50339,1" enableCaching="false"></User>

    <Friends enableCaching="false"></Friends>
    <Profile enableCaching="false"></Profile>
    
    <!-- items -->
    <Item connectionStringName="mySQLItems" allowUpdate="Administrators|ItemsManager" allowDelete="Administrators|ItemsManager" enableCaching="false"></Item>
    <Instance enableCaching="false"></Instance>
    <ExpLel connectionStringName="mySQLItems"></ExpLel>

    <!-- weekStart:定义从星期几起算一周的起始 -->
    <GSCntInTimeSpan weekStart="3" enableCaching="false"></GSCntInTimeSpan>

    <ItemAttributesOnPet connectionStringName="mySQLItems" enableCaching="false"></ItemAttributesOnPet>
    <Plant connectionStringName="mySQLItems" enableCaching="false"></Plant>
    <ExtendedCostEquation connectionStringName="mySQLItems" enableCaching="false"></ExtendedCostEquation>
    <SellGSCntInTimespan connectionStringName="mySQLItems"></SellGSCntInTimespan> 
  
    <!-- pets -->
    <Pet enableCaching="false"></Pet>
    
    <!-- plant -->
    <PlantInstance enableCaching="false"></PlantInstance>
    
    <!-- home -->
    <Home maxClearPug="5" enableCaching="false"></Home>
    <House enableCaching="false"></House>
    
    <!-- gift -->
    <GiftBox enableCaching="false"></GiftBox>

    <!-- minigame -->
    <MiniGame connectionStringName="mySQLBBS" topN="50" enableCaching="false"></MiniGame>

    <!-- userlogs -->
    <UserLogs connectionStringName="userLogs" enableCaching="false"></UserLogs>

    <!-- cdkeys -->
    <CDKeys connectionStringName="mySQLItems" enableCaching="false"></CDKeys>

    <!-- MagicCard -->
    <MagicCard connectionStringName="mySQLItems" storetime="300"></MagicCard>

    <!-- WorldServers -->
    <!-- levels: 容量达到设定的百分率时，则为指定的级别 -->
    <!-- recommend: 推荐给用户的服务器为：4星级的服务器2个，3星级的服务器3个，2星级的服务器3个，1星级的服务器3个 -->
    <!-- setAllowMaxNID: 允许调用Set方法的最大的NID -->
    <WorldServers  connectionStringName="mySQLItems" levels="0,5,10,15,100" recommend="4,2|3,3|2,3|1,3" setAllowMaxNID="9999" enableCaching="false"></WorldServers>

    <!-- bbs -->
    <BBS  connectionStringName="mySQLBBS" enableCaching="false"></BBS>
    <BBSRe enableCaching="false"></BBSRe>
    <BBSUser enableCaching="false"></BBSUser>

    <!-- posts -->
    <Posts connectionStringName="mySQLItems" enableCaching="false"></Posts>

    <!-- serverMsg -->
    <ServerMsg connectionStringName="mySQLItems" enableCaching="false"></ServerMsg>

   <!-- <Families connectionStringName="mySQLItems" maxContain="0,50|10,100|20,110" maxDeputy="5"></Families> -->
    <Families connectionStringName="mySQLItems" maxContain="0,0,180|10,1,180|180,2,70|800,3,180|2000,4,180|4500,5,180|8500,6,180|15000,7,180" maxDeputy="5"></Families>

    <UserFile connectionStringName="mySQLItems" uploadFilePath="" uploadFileURLPre="" uploadOnce="1048576" uploadMaxSize="52428800" uploadAllowExtensions=".txt,.jpg,.png,.bmp,.jpeg,.gif,.zip,.rar" imgMaxWidth="640" smallImgMaxWidth="256"></UserFile>

  </LibraryCenter>
  
  <enyim.com>
    <memcached>
      <!-- keyTransformer="" -->
      <servers>
        <add address="192.168.0.229" port="11211" />
      </servers>
      <socketPool minPoolSize="10" maxPoolSize="100" connectionTimeout="00:10:00" deadTimeout="00:00:40" />
    </memcached>
  </enyim.com>

  <beitmemcached>
    <memcached maxPoolSize="200" minPoolSize="5" sendReceiveTimeout="2000" socketRecycleAge="30">
      <servers>
        <add address="192.168.0.229:11211"/>
      </servers>
    </memcached>
  </beitmemcached>

</configuration>
